

.container{
    background-color: rgb(248, 14, 14);
    background-size: contain;
    align-content: center;
    color: white;
    text-align: center;


}
ul.myUL{

    display: inline-block; 
    text-align: left;
    padding: 25%;
    padding-top: 0%;
    padding-bottom: 0%;   
}

.school{
    background-image: url(img/keyboard.jpg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5%;
    

}

.classroom{
    position: relative; 
    padding: 2%;
    margin-top: 1.5%;
    margin-right: 8%;
    margin-left: 4%;
    margin: 2% 2%;
    border: 10px;
    image-rendering: auto;
}

